{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Merriweather&family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  <link rel="stylesheet" href="{% static 'base/base.css' %}">

  <meta name="description" content="Annie's world gives you an insight to my personal life so you can get to know me better. Red through my blogs to get a better understanding of Bangladesh. There are also some products that I offer that you may be interested in.">
  <meta name="keywords" content="Personal blog, know me, products, bangladesh">
  <meta name="author" content="Annie">
</head>
<body>
  <div class="container">
    <div class="s1">
      <nav>
        <div class="navigation">
          <ul class="nav-links">
            <a href="{% url 'index' %}"><li class="home">HOME</li></a>
            <a href="{% url 'about' %}"><li class="about">ABOUT US</li></a>
            <a href="{% url 'blog' %}"><li class="blog">BLOG</li></a>
            <a href="{% url 'contact' %}"><li class="contact">CONTACT</li></a>
          </ul>
  
          <!-- <ul class="nav-socials">
            <a href=""><img src="{% static 'base/imgs/twitter.svg' %}" alt="Twitter" class="twitter"></a>
            <a href=""><img src="{% static 'base/imgs/youtube.svg' %}" alt="youtube" class="youtube"></a>
            <a href=""><img src="{% static 'base/imgs/insta.svg' %}" alt="insta" class="insta"></a>
          </ul> -->
        </div>
  
        <div class="nav-dropdown">
          <div>
            <a href="{% url 'index' %}"><li class="home">HOME</li></a>
            <a href="{% url 'about' %}"><li class="about">ABOUT US</li></a>
            <a href="{% url 'blog' %}"><li class="blog">BLOG</li></a>
            <a href="{% url 'contact' %}"><li class="contact">CONTACT</li></a>

            <!-- <div class="p-nav-socials">
            <a href=""><img src="{% static 'base/imgs/twitter.svg' %}" alt="Twitter" class="twitter"></a>
            <a href=""><img src="{% static 'base/imgs/youtube.svg' %}" alt="youtube" class="youtube"></a>
            <a href=""><img src="{% static 'base/imgs/insta.svg' %}" alt="insta" class="insta"></a>
            </div> -->
          </div>
        </div>
  
        <div class="phone-navigation">
          <img src="{% static 'base/imgs/hamburger.svg' %}" alt="Hamburger" class="hamburger">
        </div>
      </nav>

      <div class="hero-section">
        <img src="{% static 'home/imgs/lake.png' %}" alt="Lake" class="hero">

        <h1 class="hero-title">Annie’s World</h1>
        <!-- <img src="{% static 'home/imgs/hero.png' %}" alt="Hero" style="width: 20%; margin-top: 50px; position: relative; left: 50%; transform: translateX(-50%);"> -->
        <!-- <h3 class="hero-sub">My Personal Blog On ...</h3> -->

        <hr class="hero-line">
      </div>
    </div>

    <div class="s2">
      <!-- <h2 class="blogs-title">Recent Blogs</h2> -->
      <h2 class="blogs-title">Recent Blogs</h2>
      <div class="blogs">
        <!-- Blog 1 -->
        {% for blog in recent %}
        <div class="blog-cont">
          <img src="{{ blog.thumbnail.url }}" alt="Blog" class="blog-img">

          <h2 class="blog-title">{{ blog.title }}</h2>

          <p class="blog-text">{{ blog.thumbnail_text }}</p>

          <a href="{% url 'blog-detail' blog.slug %}" class="blog-link">Read More</a>
        </div>
        {% endfor %}
      </div>

      <div class="hidden-blogs">
        <h2 class="blogs-title">Top Blogs</h2>
        <div class="blogs">
          {% for blog in top %}
          <div class="blog-cont">
            <img src="{{ blog.blog.thumbnail.url }}" alt="Blog" class="blog-img">

            <h2 class="blog-title">{{ blog.blog.title }}</h2>

            <p class="blog-text">{{ blog.blog.thumbnail_text }}</p>

            <a href="{% url 'blog-detail' blog.blog.slug %}" class="blog-link">Read More</a>
          </div>
          {% endfor %}
        </div>  
      </div>

      <button class="s2-btn">More Blogs</button>
    </div>

  <div class="s3">
    <div class="s3-section">
      <div class="top-section">
        <h2 class="section-title">Some Of Our Products</h2>
        <hr class="section-line">
      </div>

      <p class="section-text">et ultrices neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec.</p>
    </div>

    <div class="products">
      {% for product in products %}
      <div class="product">
        <div class="product-image-cont">
          <img src="{{ product.image.url }}" alt="Product" class="product-image">

          <a href="{{ product.link }}" target="_blank" class="affiliate-btn-container">
            <div class="affiliate-btn">
              <img src="{% static 'home/imgs/web.svg' %}" alt="Web" class="web">
              <p>Take Me There</p>
            </div>
            <!-- <button class="affiliate-btn">Take Me There</button> -->
          </a>
        </div>

        <div class="product-header">
          <h3 class="product-title">{{ product.title|title }}</h3>
          <h3 class="product-price">£{{ product.price }}</h3>
        </div>
        {% if product.sub_title %}
        <p class="product-sub-title">{{ product.sub_title|title }}</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="base-container">
    <footer>
      <div class="left-footer">
        <h3 class="copy">© Annie’s World, all rights reserved</h3>

        <div class="credits">
          <h3 class="designer">Designed & Developed By Bilal Uddin. Visit www.bilaluddin.me</h3>
          <p class="credit-imgs">Credits: Fontawesome, Unsplash, PixelPerfect, Freepik</p>
        </div>
      </div>

      <!-- <div class="right-footer">
        <div class="socials">
          <a href="" target="_blank"><img src="{% static 'base/imgs/twitter.svg' %}" alt="FB" class="facebook"></a>
          <a href="" target="_blank"><img src="{% static 'base/imgs/youtube.svg' %}" alt="twitter" class="twitter"></a>
          <a href="" target="_blank"><img src="{% static 'base/imgs/insta.svg' %}" alt="instagram" class="instagram"></a>
          <a href="" target="_blank"><img src="{% static 'base/imgs/facebook.svg' %}" alt="facebook" class="facebook"></a>
        </div>
      </div> -->
    </footer>
  </div>

  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
  <script src="{% static 'base/base.js' %}"></script>
  <script src="{% static 'home/home.js' %}"></script>

  <script>
    let blogs = document.querySelectorAll(".l-blog .blog");

    blogs[2].style.marginTop = "50px"
    blogs[3].style.marginTop = "50px"
  </script>
</body>
</html>