{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Merriweather&family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  <link rel="stylesheet" href="{% static 'base/base.css' %}">
</head>
<body>
  <div class="container">
    <div class="s1">
      <nav>
        <div class="navigation">
          <ul class="nav-links">
            <a href="{% url 'index' %}"><li class="home">HOME</li></a>
            <a href=""><li class="about">ABOUT US</li></a>
            <a href=""><li class="blog">BLOG</li></a>
            <a href=""><li class="contact">CONTACT</li></a>
          </ul>
  
          <ul class="nav-socials">
            <a href=""><img src="{% static 'base/imgs/twitter.svg' %}" alt="Twitter" class="twitter"></a>
            <a href=""><img src="{% static 'base/imgs/youtube.svg' %}" alt="youtube" class="youtube"></a>
            <a href=""><img src="{% static 'base/imgs/insta.svg' %}" alt="insta" class="insta"></a>
          </ul>
        </div>
  
        <div class="nav-dropdown">
          <div>
            <a href="{% url 'index' %}"><li class="home">HOME</li></a>
            <a href=""><li class="about">ABOUT US</li></a>
            <a href=""><li class="blog">BLOG</li></a>
            <a href=""><li class="contact">CONTACT</li></a>

            <div class="p-nav-socials">
            <a href=""><img src="{% static 'base/imgs/twitter.svg' %}" alt="Twitter" class="twitter"></a>
            <a href=""><img src="{% static 'base/imgs/youtube.svg' %}" alt="youtube" class="youtube"></a>
            <a href=""><img src="{% static 'base/imgs/insta.svg' %}" alt="insta" class="insta"></a>
            </div>
          </div>
        </div>
  
        <div class="phone-navigation">
          <img src="{% static 'base/imgs/hamburger.svg' %}" alt="Hamburger" class="hamburger">
        </div>
      </nav>

      <div class="hero-section">
        <img src="{% static 'home/imgs/lake.png' %}" alt="Lake" class="hero">

        <h1 class="hero-title">Annie’s World</h1>
        <h3 class="hero-sub">My Personal Blog On Bangladesh</h3>

        <hr class="hero-line">
      </div>
    </div>

    <div class="s2">
      <div class="blogs">
        <!-- Blog 1 -->
        <div class="blog">
          <img src="{% static 'home/imgs/food.png' %}" alt="Blog" class="blog-img">

          <h2 class="blog-title">tristique nulla aliquet enim tortor at auctor</h2>

          <p class="blog-text">Taciti ligula arcu himenaeos nec augue lectus aliquet rutrum, morbi tempus urna nisl mollis sed erat, integer blandit.</p>

          <a href="" class="blog-link">Read More</a>
        </div>

        <!-- Blog 2 -->
        <div class="blog">
          <img src="{% static 'home/imgs/food.png' %}" alt="Blog" class="blog-img">

          <h2 class="blog-title">tristique nulla aliquet enim tortor at auctor</h2>

          <p class="blog-text">Taciti ligula arcu himenaeos nec augue lectus aliquet rutrum, morbi tempus urna nisl mollis sed erat, integer blandit.</p>

          <a href="" class="blog-link">Read More</a>
        </div>

        <!-- Blog 3 -->
        <div class="blog">
          <img src="{% static 'home/imgs/food.png' %}" alt="Blog" class="blog-img">

          <h2 class="blog-title">tristique nulla aliquet enim tortor at auctor</h2>

          <p class="blog-text">Taciti ligula arcu himenaeos nec augue lectus aliquet rutrum, morbi tempus urna nisl mollis sed erat, integer blandit.</p>

          <a href="" class="blog-link">Read More</a>
        </div>
      </div>

      <button class="s2-btn">More Blogs</button>
    </div>

    <div class="s3">
      <div class="newsletter">
        <div class="nl-left">
          <h3 class="s3-title">Want To Get Weekly News?</h3>
          <p class="s3-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="nl-form">
          <input type="text" class="nl-input" placeholder="Your Email...">
          <button class="nl-btn">Subscribe</button>
        </div>
      </div>
    </div>

    <div class="s4">
      <div class="bottom-blog">
        <div class="l-blog">
          <div class="blog">
            <img src="{% static 'home/imgs/food.png' %}" alt="Blog" class="blog-img">
  
            <h2 class="blog-title">tristique nulla aliquet enim tortor at auctor</h2>
  
            <p class="blog-text">Taciti ligula arcu himenaeos nec augue lectus aliquet rutrum, morbi tempus urna nisl mollis sed erat, integer blandit.</p>
  
            <a href="" class="blog-link">Read More</a>
          </div>

          <div class="blog blog-right">
            <img src="{% static 'home/imgs/food.png' %}" alt="Blog" class="blog-img">
  
            <h2 class="blog-title">tristique nulla aliquet enim tortor at auctor</h2>
  
            <p class="blog-text">Taciti ligula arcu himenaeos nec augue lectus aliquet rutrum, morbi tempus urna nisl mollis sed erat, integer blandit.</p>
  
            <a href="" class="blog-link">Read More</a>
          </div>

          <div class="blog blog-bottom">
            <img src="{% static 'home/imgs/food.png' %}" alt="Blog" class="blog-img">
  
            <h2 class="blog-title">tristique nulla aliquet enim tortor at auctor</h2>
  
            <p class="blog-text">Taciti ligula arcu himenaeos nec augue lectus aliquet rutrum, morbi tempus urna nisl mollis sed erat, integer blandit.</p>
  
            <a href="" class="blog-link">Read More</a>
          </div>

          <div class="blog blog-bottom blog-right">
            <img src="{% static 'home/imgs/food.png' %}" alt="Blog" class="blog-img">
  
            <h2 class="blog-title">tristique nulla aliquet enim tortor at auctor</h2>
  
            <p class="blog-text">Taciti ligula arcu himenaeos nec augue lectus aliquet rutrum, morbi tempus urna nisl mollis sed erat, integer blandit.</p>
  
            <a href="" class="blog-link">Read More</a>
          </div>
        </div>

        <div class="author-container">
          <img src="{% static 'home/imgs/author.png' %}" alt="Author" class="author-img">

          <h3 class="author-name">Annie's World</h3>
          <h3 class="author-title">FULLTIME BLOGGER</h3>

          <p class="author-text">Taciti ligula arcu himenaeos nec augue lectus aliquet rutrum</p>


          <div class="author-sub">
            <p class="au-title">My Personal Favourites</p>
            <hr class="au-line">
          </div>

          <div class="mini-blogs">
            <div class="mini-blog">
              <img src="{% static 'home/imgs/fish.png' %}" alt="mini blog" class="mb-img">
              <i class="mb-text">tristique nulla aliquet enim tortor at auctor</i>
            </div>

            <div class="mini-blog">
              <img src="{% static 'home/imgs/fish.png' %}" alt="mini blog" class="mb-img">
              <i class="mb-text">tristique nulla aliquet enim tortor at auctor</i>
            </div>

            <div class="mini-blog">
              <img src="{% static 'home/imgs/fish.png' %}" alt="mini blog" class="mb-img">
              <i class="mb-text">tristique nulla aliquet enim tortor at auctor</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="base-container">
    <footer>
      <div class="left-footer">
        <h3 class="copy">© Annie’s World, all rights reserved</h3>

        <div class="credits">
          <h3 class="designer">Designed & Developed By Bilal Uddin. Visit www.bilaluddin.me</h3>
          <p class="credit-imgs">Credits: Fontawesome, Unsplash, PixelPerfect, Freepik</p>
        </div>
      </div>

      <div class="right-footer">
        <div class="socials">
          <a href="https://www.facebook.com/chauffline" target="_blank"><img src="{% static 'base/imgs/twitter.svg' %}" alt="FB" class="facebook"></a>
          <a href="https://twitter.com/iCHAUFFLINE" target="_blank"><img src="{% static 'base/imgs/youtube.svg' %}" alt="twitter" class="twitter"></a>
          <a href="https://www.instagram.com/chauffline/" target="_blank"><img src="{% static 'base/imgs/insta.svg' %}" alt="instagram" class="instagram"></a>
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'base/base.js' %}"></script>
</body>
</html>