{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'contact/contact.css' %}">
  {% endblock %}
</head>
<body>
  {% block content %}
    <div class="container">
      <div class="s1">
        <div class="contact-detail">
          <h2 class="contact-title">Send me a message for business enquiries</h2>
          <p class="contact-text">id eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet risus</p>

          <li>Phone number: 0123456789</li>
          <li>Email: DudEmail</li>
        </div>

        <div class="contact-form">
          <form method="POST"> {% csrf_token %}
            {{ form }}

            <button type="submit" class="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  {% endblock %}
</body>
</html>