{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>Add Block</title>
  {% endblock %}
  <link rel="stylesheet" href="{% static 'base/base.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Merriweather&family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
  <div class="base-container">
    <nav>
      <div class="navigation">
        <ul class="nav-links">
          <a href="{% url 'index' %}"><li class="home">HOME</li></a>
          <a href="{% url 'about' %}"><li class="about">ABOUT US</li></a>
          <a href="{% url 'blog' %}"><li class="blog">BLOG</li></a>
          <a href="{% url 'contact' %}"><li class="contact">CONTACT</li></a>
        </ul>

        <!-- <ul class="nav-socials">
          <a href=""><img src="{% static 'base/imgs/twitter.svg' %}" alt="Twitter" class="twitter"></a>
          <a href=""><img src="{% static 'base/imgs/youtube.svg' %}" alt="youtube" class="youtube"></a>
          <a href=""><img src="{% static 'base/imgs/insta.svg' %}" alt="insta" class="insta"></a>
        </ul> -->
      </div>

      <div class="nav-dropdown">
        <div>
          <a href="{% url 'index' %}"><li class="home">HOME</li></a>
          <a href="{% url 'about' %}"><li class="about">ABOUT US</li></a>
          <a href="{% url 'blog' %}"><li class="blog">BLOG</li></a>
          <a href="{% url 'contact' %}"><li class="contact">CONTACT</li></a>

          <!-- <div class="p-nav-socials">
          <a href=""><img src="{% static 'base/imgs/twitter.svg' %}" alt="Twitter" class="twitter"></a>
          <a href=""><img src="{% static 'base/imgs/youtube.svg' %}" alt="youtube" class="youtube"></a>
          <a href=""><img src="{% static 'base/imgs/insta.svg' %}" alt="insta" class="insta"></a>
          </div> -->
        </div>
      </div>

      <div class="phone-navigation">
        <img src="{% static 'base/imgs/hamburger.svg' %}" alt="Hamburger" class="hamburger">
      </div>
    </nav>
  </div>

  {% block content %}
    ADD Content Block
  {% endblock %}

  <div class="base-container">
    <footer>
      <div class="left-footer">
        <h3 class="copy">© Annie’s World, all rights reserved</h3>

        <div class="credits">
          <h3 class="designer">Designed & Developed By Bilal Uddin. Visit www.bilaluddin.me</h3>
          <p class="credit-imgs">Credits: Fontawesome, Unsplash, PixelPerfect, Freepik</p>
        </div>
      </div>

      <div class="right-footer">
        <div class="socials">
          <a href="https://www.facebook.com/chauffline" target="_blank"><img src="{% static 'base/imgs/twitter.svg' %}" alt="FB" class="facebook"></a>
          <a href="https://twitter.com/iCHAUFFLINE" target="_blank"><img src="{% static 'base/imgs/youtube.svg' %}" alt="twitter" class="twitter"></a>
          <a href="https://www.instagram.com/chauffline/" target="_blank"><img src="{% static 'base/imgs/insta.svg' %}" alt="instagram" class="instagram"></a>
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'base/base.js' %}"></script>
</body>
</html>