/* SECTION 1 */
.hero {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.navigation {
  position: absolute;
  top: 450px;
}

.hero-title {
  padding-top: 100px;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 191.1%;
  /* or 122px */

  text-align: center;

  color: #ffffff;
}

.hero-sub {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.hero-line {
  width: 350px;
  height: 0px;
  margin: 0 auto;
  margin-top: 20px;

  background: #608d77;
  border: 3px solid #608d77;
}

.s1 {
  height: 550px;
}

/* SECTION 2 */

.blog-img {
  width: 330px;
  height: 281px;

  object-fit: cover;
}

.blog-title {
  width: 333px;

  font-family: Merriweather;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
  margin-top: 20px;
}

.blog-text {
  width: 328px;

  font-family: Karla;
  font-size: 18px;
  line-height: 28px;

  color: #494949;
  margin-top: 15px;
  margin-bottom: 20px;
}

.blog-link {
  font-family: Karla;
  font-weight: bold;
  font-size: 24px;

  color: #e07a5f;
  position: relative;
}

.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.blog-cont-remove {
  display: none;
}

.blog-cont-hidden {
  margin-top: 40px;
  opacity: 0;
}

.blog-cont {
  margin-top: 40px;
}

.s2 {
  width: 82.8%;
  margin: 0 auto;
  margin-top: 40px;
}

.s2-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  width: 330px;
  height: 65px;
  margin-top: 66px;

  background: #e07a5f;
  border-radius: 3px;

  font-family: Karla;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;

  border: none;
}

/* SECTION 3 */

.s3 {
  width: 82.8%;
  margin: 0 auto;
  margin-top: 150px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-family: Merriweather;
  font-size: 48px;
  line-height: 60px;

  color: #000000;
}

.section-line {
  width: 40%;
  height: 7px;
  background: #81b29a;

  border: solid #81b29a;
}

.section-text {
  width: 100%;

  font-family: Karla;
  font-size: 26px;
  line-height: 37px;
  margin-top: 50px;

  color: #000000;
}

.product-image-cont {
  width: 284px;
  height: 365px;
}

.product-image {
  position: absolute;
  z-index: -1;

  width: 284px;
  height: 365px;
  object-fit: cover;
}

.affiliate-btn {
  position: relative;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  top: 300px;
  width: 240px;
  height: 40px;

  background: #F9F9F9;
  align-items: center;
  justify-content: space-around;
}

.affiliate-btn p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */


  color: #000000;
}

.products {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}

.product-price, .product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.product-sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #6B6B6B;

  margin-top: 14px;
}

/* Tablet */

@media screen and (max-width: 1020px) {
  .blogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .newsletter {
    flex-direction: column;
    height: 350px;
  }

  .nl-form {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .nl-left {
    margin-top: 50px;
  }

  .bottom-blog {
    flex-direction: column-reverse;
  }

  .l-blog {
    margin-top: 80px;
  }
}

/* MOBILE */

@media screen and (max-width: 850px) {
  .navigation {
    position: relative;
    top: 450px;
  }

  .hero {
    display: none;
  }

  .hero-title {
    padding-top: 75px;
    width: 300px;
    margin: 0 auto;

    font-size: 48px;
    line-height: 191.1%;
    /* identical to box height, or 92px */

    text-align: center;

    color: #000000;
  }

  .hero-sub {
    width: 269px;
    margin: 0 auto;

    font-family: Karla;

    font-size: 18px;

    text-align: center;

    color: #000000;
  }

  .s1 {
    height: fit-content;
  }

  /* SECTION 2 */

  .s2 {
    width: 333px;
  }

  .blogs {
    width: 333px;

    display: flex;
    flex-direction: column;
    justify-items: center;

    /* height: 2000px; */
  }

  .blog-img {
    width: 100%;
    height: 280.5px;

    object-fit: cover;
  }

  .blog-title {
    width: 333px;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
  }

  .s3 {
    display: none;
  }

  .bottom-blog {
    width: 333px;
    flex-direction: column-reverse;
  }

  .l-blog {
    width: 333px;
    display: flex;
    flex-direction: column;
  }

  .l-blog .blog {
    margin-top: 80px;
  }

  .s4 {
    width: 333px;
  }

  .blog-bottom {
    margin-top: 0px;
  }

  .blog-right {
    margin-left: 0px;
  }
}
