/* SECTION 1 */
.hero {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.navigation {
  position: absolute;
  top: 450px;
}

.hero-title {
  padding-top: 100px;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 191.1%;
  /* or 122px */

  text-align: center;

  color: #ffffff;
}

.hero-sub {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.hero-line {
  width: 350px;
  height: 0px;
  margin: 0 auto;
  margin-top: 20px;

  background: #608d77;
  border: 3px solid #608d77;
}

.s1 {
  height: 550px;
}

/* SECTION 2 */

.blog-img {
  width: 330px;
  height: 281px;

  object-fit: cover;
}

.blog-title {
  width: 333px;

  font-family: Merriweather;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
  margin-top: 20px;
}

.blog-text {
  width: 328px;

  font-family: Karla;
  font-size: 24px;
  line-height: 28px;

  color: #494949;
  margin-top: 15px;
  margin-bottom: 20px;
}

.blog-link {
  font-family: Karla;
  font-weight: bold;
  font-size: 24px;

  color: #e07a5f;
  position: relative;
}

.blogs {
  display: flex;
  justify-content: space-between;
}

.s2 {
  width: 82.8%;
  margin: 0 auto;
  margin-top: 140px;
}

.s2-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  width: 330px;
  height: 65px;
  margin-top: 66px;

  background: #e07a5f;
  border-radius: 3px;

  font-family: Karla;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;

  border: none;
}

/* SECTION 3 */

.s3 {
  width: 82.8%;
  margin: 0 auto;
  margin-top: 120px;
}

.newsletter {
  background: #afdec7;
  height: 215px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s3-title {
  font-family: Merriweather;
  font-size: 32px;
  line-height: 40px;

  color: #000000;
}

.s3-text {
  width: 460px;
  margin-top: 20px;

  font-family: Karla;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.nl-left {
  margin-left: 40px;
}

.nl-input {
  width: 250px;
  height: 40px;

  border: 2px solid #579275;
  background: none;
  padding-left: 20px;
  font-size: 18px;
}

.nl-btn {
  width: 130px;
  height: 40px;
  border: none;

  background: #579275;
  margin-left: 15px;

  font-family: Karla;
  font-size: 18px;

  color: #ffffff;
}

.nl-form {
  display: flex;
  align-items: center;
}

.nl-form {
  margin-right: 40px;
}

/* SECTION 4 */

.s4 {
  width: 82.8%;
  margin: 0 auto;
  margin-top: 120px;
}

.bottom-blog {
  display: flex;
  justify-content: space-between;
}

.l-blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  justify-items: space-between;
}

.blog-bottom {
  margin-top: 30px;
}

.blog-right {
  margin-left: 10px;
}

.author-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.author-container h3,
.author-container p {
  text-align: center;
}

.author-name {
  font-family: Merriweather;
  font-size: 24px;

  margin-top: 50px;
  color: #000000;
}

.author-title {
  font-family: Karla;
  font-size: 24px;
  margin-top: 12px;

  color: #579275;
}

.author-text {
  font-family: Karla;
  font-size: 24px;
  margin-top: 12px;

  color: #494949;
}

.au-title {
  font-family: Karla;
  font-size: 24px;

  color: #494949;
}

.au-line {
  width: 78px;
  height: 0px;
  background: #579275;

  border: 2px solid #579275;
}

.author-sub {
  width: 340px;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-blog {
  width: 334px;
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}

.mb-img {
  width: 100px;
  height: 65px;

  object-fit: cover;
}

.mb-text {
  width: 219px;

  font-family: Merriweather;
  font-size: 14px;
  line-height: 139.2%;
  text-align: left;
  /* or 19px */

  color: #000000;
}

/* Tablet */

@media screen and (max-width: 1020px) {
  .blogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .newsletter {
    flex-direction: column;
    height: 350px;
  }

  .nl-form {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .nl-left {
    margin-top: 50px;
  }

  .bottom-blog {
    flex-direction: column-reverse;
  }

  .l-blog {
    margin-top: 80px;
  }
}

/* MOBILE */

@media screen and (max-width: 850px) {
  .navigation {
    position: relative;
    top: 450px;
  }

  .hero {
    display: none;
  }

  .hero-title {
    padding-top: 75px;
    width: 300px;
    margin: 0 auto;

    font-size: 48px;
    line-height: 191.1%;
    /* identical to box height, or 92px */

    text-align: center;

    color: #000000;
  }

  .hero-sub {
    width: 269px;
    margin: 0 auto;

    font-family: Karla;

    font-size: 18px;

    text-align: center;

    color: #000000;
  }

  .s1 {
    height: fit-content;
  }

  /* SECTION 2 */

  .s2 {
    width: 333px;
  }

  .blogs {
    width: 333px;
    display: flex;
    flex-direction: column;
    justify-items: center;

    height: 2000px;
  }

  .blog-img {
    width: 100%;
    height: 280.5px;

    object-fit: cover;
  }

  .blog-title {
    width: 333px;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
  }

  .s3 {
    display: none;
  }

  .bottom-blog {
    width: 333px;
    flex-direction: column-reverse;
  }

  .l-blog {
    width: 333px;
    display: flex;
    flex-direction: column;
  }

  .l-blog .blog {
    margin-top: 80px;
  }

  .s4 {
    width: 333px;
  }

  .blog-bottom {
    margin-top: 0px;
  }

  .blog-right {
    margin-left: 0px;
  }
}
